    body {
      font-family: Arial;
      text-align: center;
      padding: 30px;
    }
    h2 {
      margin-bottom: 10px;
    }
    .box {
      margin: 20px auto;
      padding: 15px;
      border: 2px solid #333;
      width: 300px;
    }